@model PSoC.ManagementService.Models.AdminAccessPointViewModel
@{
    ViewBag.Title = ": Manage Devices";
}
@Styles.Render("~/Content/css/dashboard")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<form id="deviceStatusForm" method="post" action="javascript:;" accept-charset="utf-8">
    <div class="dashboard-container">
        <div class="controls-top">
            <div id="white_Bg" style=""></div>
            <div id="DistrictDropdown" class="dropdown-header" style="display: inline-block">
                <label id="district_label">District</label>
                @if (ViewBag.UserType == "GlobalAdmin")
                {
                    if (Model != null && Model.DistrictList != null)
                    {
                        <select id="district-multiselect" multiple="multiple">
                            @foreach (var district in Model.DistrictList)
                            {
                                <option value="@district.Item1">@district.Item2</option>
                            }
                        </select>
                    }
                }
                else if (Model != null && Model.DistrictList != null && Model.DistrictList.Count > 0)
                {
                    @Html.DisplayTextFor(x => x.DistrictList[0].Item2)
                }
                else
                {
                    @Html.DisplayTextFor(x => string.Empty)
                }
            </div>
            <div id="SchoolColumn" class="dropdown-header" style="display: none">
                <label style="display: block">School</label>
                <select id="school-multiselect" multiple="multiple"></select>
            </div>
            <div id="AccessPointColumn" class="dropdown-header" style="display: none">
                <label style="display: block">Access Point</label>
                <select id="accesspoint-multiselect" multiple="multiple"></select>
            </div>
            <label id="show1">SHOW:</label>
            <label id="show2">SHOW:</label>
        </div>

        <!-- background --><div class="wrapper_tbl_back"></div>
        <div class="data" id="dataTable">
            
            <table id="statusTable" class="display">
                <thead>
                    <tr class="cls_tblHeadRow1">
                        <th colspan="1">LAST UPDATE</th>
                        <th colspan="1">&nbsp;</th>
                        <th colspan="1">&nbsp;</th>
                        <th colspan="4">DEVICE</th>
                        <th colspan="2">USER</th>
                        <th colspan="2"></th>
                        <th colspan="2">WIFI</th>
                        <th id="date_created" colspan="1">DATE CREATED</th>
                        <th id="last_child" colspan="3"></th>
                    </tr>
                    <tr class="cls_tblHeadRow2">
                        <th colspan="1" class="tbl_r2_border">Date/Time</th>
                        <th colspan="1" class="tbl_r2_border">District Name</th>
                        <th colspan="1" class="tbl_r2_border" style="width:309px !important" ;>School Name</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th colspan="1" class="tbl_r2_border">OS Version</th>
                        <th>Name</th>
                        <th colspan="1" class="tbl_r2_border">Type</th>
                        <th style="width:200px !important;">Configured Grades</th>
                        <th colspan="1" class="tbl_r2_border" style="width:100px !important;">Location Name</th>
                        <th>BSSID</th>
                        <th colspan="1" class="tbl_r2_border">SSID</th>
                        <th class="tbl_r2_border">Date/Time</th>
                        <th>Request Type</th>
                        <th>Items In Download</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="controls-bottom"></div>
    </div>
    <div id="expire-dialog" title="Confirmation" style="display:none;">
        <p>Are you sure you want to expire this License?</p>
    </div>
</form>
@section scripts
{
    <script>
        var userType = '@(ViewBag.UserType)';
    </script>
    @Scripts.Render("~/bundles/dashboard")
}
